*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#circle{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  background: hotpink;
  color: #fff;
  cursor: pointer;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 3s;
}

.hover{
  transform: scale(2);
}